.heading {
  color: $headersColor;
  font-family: 'Gotham Pro', sans-serif;

  &--level-1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  &--level-2 {
    font-size: 24px;
  }

  &--level-3 {
    font-size: 18px;
    font-weight: 400;
  }
}