.table-title {
  margin-left: 15px;
  margin-bottom: 20px;
}

.table-wrapper {
  @include col(8);
}

.table {
  width: 100%;
}

.table__head {
  background: $secondBgColor;
}

.table__row {
  &--bordered {
    border-bottom: 1px solid $secondBgColor;
  }
}

.table__cell {
  padding: 15px;

  &--head {
    font-weight: 400;
  }

  &--subcell {
    padding-left: 30px;

    &,
    & ~ .table__cell {
      padding-top: 0;
    }
  }
}