/**
 * Основные стили
 **/

html {
  font-size: 16px;
}

body {
  background: $mainBgColor;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

a {
  color: $primaryColor;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.container {
  @include container;
}